@model WorkplacesAccounting.Models.AuthModel
@{
    ViewData["Title"] = "Авторизация";
}
<div>
        <head>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        </head>
        <div>
            <div class="background"/>
            <form asp-action="Index" asp-controller="Authorization" method="post" class="AuthForm">
                <h3>Авторизация</h3>

                <label class="AuthLabel" for="username">Логин</label>
                <input class="AuthInput" type="Login" asp-for="Login" placeholder="Логин или адрес электронной почты" id="username" required>

                <label class="AuthLabel" for="password">Пароль</label>
                <input class="AuthInput" type="password" asp-for="Password" placeholder="Пароль" id="password" required>

                <button class="AuthButton"  type="submit">Вход</button>
            </form>
        </div>
    </div>
    


