html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 100px;
    background-color: #F0F2F4;
}
footer{
    position:absolute;
}
.background {
    width: 430px;
    height: 520px;
    position: center;
    
    left: 50%;
    top: 50%;
}

.AuthForm {
    height: 520px;
    width: 400px;
    background-color: rgba(0,0,0,0.87);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

    .AuthForm * {
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .AuthForm h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

.AuthLabel {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.AuthInput {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.AuthButton {
    margin-top: 50px;
    width: 100%;
    background-color: #0F6CBF;
    color: #FFFFFF;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.HomeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1800px;
    margin-block: 2rem;
    gap: 2rem;
}

.HomeElement summary {
    font-weight: 500;
    font-size: 24px;
     /*display: flex;*/
    /*justify-content: center;*/
}
.HomeList details {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(15rem, calc(15rem + 2vw), 17rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}



.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.card__header img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.tag__body {
    display: flex;
    flex-direction: row;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    font-weight: bold;
}

    .tag + .tag {
        margin-left: .5em;
    }

.tag-green {
    background: #20F24B;
    background: linear-gradient(to bottom, #6CED65, #20F24B);
    color: #fafafa;
}

.tag-gray {
    background: #696A6B;
    background: linear-gradient(to bottom, #696A6B, #696A6B);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.user__info > small {
    color: #666;
}
.content:active, /* активная/посещенная ссылка */
.content:hover, /* при наведении */
.content {
    text-decoration: none;
    color: black;
}
.SearchDiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.SearchContainer {
    display: flex;
    flex-direction: row;
    justify-content:right;
}
.SearchBox{
    margin: 0px 2% 0px 2%;
    border-radius:5px;
}
.InfoContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.Row {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.87);
    width: 45%;

    position: relative;
    padding: 3%;
    word-break: break-all;
    height: fit-content;
}

.RegButton {
    background: #0B486B;
    color: #FFFFFF;
    padding: 5px 5px;
    font-size: 18px;
    font-weight: 600;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
}
    .RegButton:hover {
        background-color: #0C5596;
    }
    .RegButton:active {
        background-color: #062A4A;
    }




